*.cache
*.log
*.pid
*.tmproj
*.tmp
*~
*.tmp
.*.swp
.\#*
.Trash-1000/
tmp
log/
log/*.log
*.sqldb
vendor/
.idea
.DS_Store
main/client/fileToSend/*
!main/client/fileToSend/.gitkeep
main/server/filesFromClients/*
!main/server/filesFromClients/.gitkeep
*.exe